<div class="main-container">
  <h1 class="main-heading">Testing Redux with Angular</h1>
  <div>
    <div class="state">Current message: {{ message$ | async }}</div>
    <div class="actions">
      <button (click)="englishMessage()">To English</button>
      <button (click)="bulgarianMessage()">To Bulgarian</button>
      <button (click)="germanMessage()">To German</button>
    </div>
    <div class="post" *ngIf="post$ | async as post">
      <div class="post-heading">
        <h2>Post text: {{post.text}}</h2>
        <h4>Likes: {{post.likes}}</h4>
      </div>
      <div class="actions">
        <button (click)="upvote()">Upvote</button>
        <button (click)="downvote()">Downvote</button>
        <button (click)="reset()">Reset</button>
      </div>
      <div class="post-text">
      <input type="text" #postText>
      <button (click)="editText()">Edit text</button>
      </div>
    </div>
  </div>
</div>
